body
{
	background-color: #FBF4F4;
	color: #121212;
	text-align: center;
	font-family: sans-serif;
}

#main
{
	width: 900px;
	margin: 0px auto;
}

h1
{
	font-size: 42px;
	margin: 0px;
	margin-bottom: 12px;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

th, td
{
	text-align: left;
}

tr
{
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

td.img
{
	padding-top: 3px;
	text-align: center;
}

th a
{
	text-decoration: none;
	color: #121212;
}

th a:hover
{
	color: #1C1C1C;
	text-decoration: underline;
}

input
{
	font-size: 14px;
}

#newdir, #upload
{
	padding: 7px 5px;
	margin: 4px;
	border: 1px solid gray;
	background-color: #F3F3F3;
}

#upload
{
	margin-bottom: 24px;
}
